@model List<Models.SuperCategory>

@{
    ViewBag.Title = "Catalog";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-2 filters-block">
        <div class="super-categories">
            @foreach (var superCategory in Model)
            {
                <p>
                    <a class="super-category fs-5" id="@superCategory.Id">@superCategory.Name</a>
                </p>
            }
        </div>
        @foreach (var superCategory in Model)
        {
            <div class="categories" super-category-id="@superCategory.Id">
                <p class="back-btn fs-5">
                    🡨 Back
                </p>
                @foreach (var category in superCategory.Categories)
                {
                    <p>
                        <a asp-controller="Catalog" asp-action="Category" asp-route-name="@category.Name" class="category fs-5">@category.Name</a>
                    </p>
                }
            </div>
        }
    </div>
    <div class="col-10 content-block">
        Some text
    </div>
</div>

<script>
    window.onload = function () {
        let superCategoryBlock = document.getElementsByClassName("super-categories").item(0);
        let superCategories = document.getElementsByClassName("super-category");
        let categoryBlocks = document.getElementsByClassName("categories");  
        let backButtons = document.getElementsByClassName("back-btn");
        let categoryMap = new Map();
        
        let current = superCategoryBlock;
        
        for (let i = 0; i < categoryBlocks.length; i++) {
            categoryMap.set(categoryBlocks[i].getAttribute("super-category-id"), categoryBlocks[i]);
        }
        
        for (let i = 0; i < superCategories.length; i++) {
            superCategories[i].addEventListener("click", function () {
                let toDisplay = categoryMap.get(superCategories[i].getAttribute("id"));
                current.style.display = "none";
                toDisplay.style.display = "block";
                current = toDisplay;
            });
        }
        
        for (let i = 0; i < backButtons.length; i++) {
            backButtons[i].addEventListener("click", function () {
               current.style.display = "none";
               superCategoryBlock.style.display = "block";
               current = superCategoryBlock;
            });
        }
    }
        
</script>