@using System.Collections.Specialized
@using Models
@model List<Models.ProductLine>

@section Styles
{
    <link rel="stylesheet" href="~/css/cart.css">   
}

@{
    ViewBag.Title = "Cart";
    Layout = "_Layout";
}


@foreach (var productLine in Model)
{
    <html lang="en">
    <body>
    <main>
        <div class="basket">
            <div class="basket-labels">
                <ul>
                    <li class="item item-heading">Item</li>
                    <li class="price">Price</li>
                    <li class="quantity">Quantity</li>
                    <li class="subtotal">Subtotal</li>
                </ul>
            </div>
            <div class="basket-product">
                <div class="item">
                    <div class="product-image">
                        <img src="@productLine.Product.Images.First().Path" alt="Placholder Image 2" class="product-frame">
                    </div>
                    <div class="product-details">
                        <p>
                     <strong>@productLine.Product.Name</strong>
                        </p>
                        <p>Product Code - @productLine.ProductId</p>
                    </div>
                </div>  
                <div class="price">@productLine.Product.Cost</div>
                <div class="quantity">
                    <input type="number"  value="@productLine.ProductCount" min="@productLine.ProductCount" id="valuenum" onchange="document.getElementById('valuenum').value" class="quantity-field">
                </div>
                <div class="subtotal">@productLine.Product.Cost</div>
                <div class="remove">
                    <button id = "@productLine.Id" class="delete-from-cart">Remove</button>
                </div>
            </div>
        </div>
        <aside>
            <div class="summary">
                <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
                <div class="summary-total">
                    <div class="total-title">Total</div>
                    <div class="total-value final-value" id="basket-total">@productLine.Product.Cost</div>
                </div>
                <div class="summary-checkout">
                    <button class="checkout-cta">Go to Checkout</button>
                </div>
            </div>
        </aside>
    </main>
    </body>
    </html>
}
<script>



window.onload = async function () {
    let f_delete = document.getElementsByClassName('delete-from-cart');
    for (let i = 0; i < f_delete.length; i++)
        {
             f_delete[i].addEventListener('click', async function ()
             { 
                 let response = await fetch("/Cart/RemoveProductLine?productLineId=" + f_delete[i].id,
                 {
                    method: "POST"
                 });
             });
        }
     let f_addone = document.getElementsByClassName('quantity-field');
        for (let j = 0; j < f_addone.length; j++)
            {
                 f_addone[j].addEventListener('click', async function ()
                 { 
                     let response = await fetch("/Cart/AddProduct?productLineId=" + f_addone[j].id,
                     {
                        method: "POST"
                     });
                 });
            }
         let f_deleteone = document.getElementsByClassName('quantity-field');
            for (let k = 0; k < f_deleteone.length; k++)
                {
                     f_deleteone[k].addEventListener('onchange', async function ()
                     { 
                         let response = await fetch("/Cart/RemoveProduct?productLineId=" + f_deleteone[k].id,
                         {
                            method: "POST"
                         });
                     });
                }
    }
    
</script>


