@using System.Collections.Specialized
@using Models
@model List<Models.Order>
@{
    Layout = "_Layout";
}
<body>

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <!-- <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""> -->
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->

                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <span class="hidden-xs">User Name</span>
                    </div>

                    <div class="profile-usertitle-job">
                    </div>
                </div>

                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="navbar profile-usermenu">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <a class="profile-item" asp-controller="Profile" asp-action="Personal">
                                <span class="material-icons md-36">
                                    account_circle
                                </span><span class="hidden-xs"> Personal </span>
                            </a>
                        </li>
                        <li>
                            <a class="profile-item current-page">
                                <span class="material-icons md-36">
                                    paid
                                </span>
                                <span class="hidden-xs">Orders </span>
                            </a>
                        </li>
                        <li>
                            <a class="profile-item" asp-controller="Profile" asp-action="Cart">
                                <span class="material-icons md-36">
                                    shopping_cart
                                </span>
                                <span class="hidden-xs">Shopping Bag</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9 order-content">

            <div class="form_main col-md-4 col-sm-5 col-xs-7">
                <h4 class="heading"><strong>Your </strong> Orders <span></span></h4>
            </div>
            @{
                if (Model.Count == 0)
                {
                    <div class="main-catalog-text">
                        <h5>
                            Your cart is empty.<br>
                            <br>
                            Promotions, special offers and reviews of the most interesting products on the catalog page will help you make the right choice!<br>
                            <br>
                            Did you fill the basket on your last visit? Log in and the selected products will appear in it automatically.<br>
                        </h5>
                    </div>
                }
                else
                {
                    <div class="basket">
                        <div class="basket-labels">
                            <ul>
                                <li class="item item-heading">Item</li>
                                <li class="price">Price</li>
                                <li class="quantity">Quantity</li>
                                <li class="subtotal">Subtotal</li>
                            </ul>
                        </div>
                    
                    @foreach (var productLine in Model)
                    {
                        <div class="basket-product">
                            <div class="item">
                                <div class="product-image">
                                    <img src="@productLine.Product.Images.First().Path" alt="Placholder Image 2" class="product-frame">
                                </div>
                                <div class="product-details">
                                    <p>
                                        <a asp-controller="Catalog" asp-action="Product" asp-route-id="@productLine.ProductId">
                                            <strong>@productLine.Product.Name</strong>
                                        </a>
                                    </p>
                                    <p>Product Code - @productLine.ProductId</p>
                                </div>
                            </div>
                            <div class="price">@productLine.Product.Cost</div>
            
                            <div class="quantity">
                                <input type="number" value="@productLine.ProductCount" min="1" id="@productLine.Id" class="quantity-field">
                            </div>
            
                            <div class="subtotal">
                                <input class="cost"  value="@productLine.Product.Cost">
                            </div>
                            <div class="remove">
                                <button id="@productLine.Id" class="delete-from-cart">Remove</button>
                            </div>
                        </div>
                    }
                    
                    </div>
                    <aside>
                        <div class="summary">
                            <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
                            <div class="summary-total">
                                <div class="total-title">Total</div>
                                <div class="total-value final-value" id="basket-total">
                                    @if (Model.Count == 0)
                                    {
                                        <text>0</text>
                                    }
                                </div>
                            </div>
            
                            <div class="summary-checkout">
                                <a asp-controller="Checkout" asp-action="Checkout">
                                <button class="checkout-cta">Go to Checkout</button>
                                </a>
                            </div>
                        </div>
                    </aside>
                }
            }
        </div>
    </div>
</div>
</body>