@using System.ComponentModel.DataAnnotations;
@using Models
@model Models.User
@{
    Layout = "_Layout";
    ViewBag.Title = "Profile";
}

<body>
<link rel="stylesheet" href="~/css/authentication.css">
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <!-- <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""> -->
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->

                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <span class="hidden-xs">@Model.Name @Model.Surname</span>
                    </div>

                    <div class="profile-usertitle-job">
                    </div>
                </div>

                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="navbar profile-usermenu">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <a class="profile-item current-page">
                                <span class="material-icons md-36">
                                    account_circle
                                </span><span class="hidden-xs"> Personal </span>
                            </a>
                        </li>
                        <li>
                            <a class="profile-item" asp-controller="Profile" asp-action="Order">
                                <span class="material-icons md-36">
                                    paid
                                </span>
                                <span class="hidden-xs">Orders </span>
                            </a>
                        </li>
                        @*<li>
                            <a class="profile-item" asp-controller="Profile" asp-action="Cart">
                                <span class="material-icons md-36">
                                    shopping_cart
                                </span>
                                <span class="hidden-xs">Shopping Bag</span>
                            </a>
                        </li>*@
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9 order-content">

            <div class="form_main col-md-4 col-sm-5 col-xs-7">
                <h4 class="heading"><strong>Your </strong> Profile <span></span> <a class="logout-link" asp-controller="Authentication" asp-action="Logout">Logout</a></h4>
                <div id="error-block"></div>
                <form method="POST" id="edit-form" name="EditForm" onsubmit="return false">
                    <div class="form-group">
                        <label class="auth-label" for="name">
                            <i class="zmdi zmdi-account material-icons-name"></i>
                        </label>
                        <input class="auth-input" type="text" maxlength="20" name="name" id="name" placeholder="Your name" value="@Model.Name"/>
                    </div>
                    <div class="form-group">
                        <label class="auth-label" for="surname">
                            <i class="zmdi zmdi-account-o material-icons-name"></i>
                        </label>
                        <input class="auth-input" type="text" maxlength="20" name="surname" id="surname" placeholder="Your surname" value="@Model.Surname"/>
                    </div>
                    <div class="form-group">
                        <label class="auth-label" for="email">
                            <i class="zmdi zmdi-email"></i>
                        </label>
                        <input class="auth-input" type="text" name="email" id="email" placeholder="Your email" value="@Model.Email"/>
                    </div>
                    <div class="form-group">
                        <label class="auth-label" for="old_pass">
                            <i class="zmdi zmdi-lock"></i>
                        </label>
                        <input class="auth-input" type="password" name="old_pass" id="old_pass" placeholder="Old password"/>
                    </div>
                    <div class="form-group">
                        <label class="auth-label" for="pass">
                            <i class="zmdi zmdi-lock"></i>
                        </label>
                        <input class="auth-input" type="password" name="pass" id="pass" placeholder="New password"/>
                    </div>
                    <div class="form-group">
                        <label class="auth-label" for="repass">
                            <i class="zmdi zmdi-lock"></i>
                        </label>
                        <input class="auth-input" type="password" name="repass" id="repass" placeholder="Repeat your new password"/>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="edit-personal" id="edit-personal" class="auth-input form-submit" value="Save"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script src="~/js/InfoEdit.js"></script>