@using Models
@model List<Models.Order>

@{
    ViewBag.Title = "Admin page";
    Layout = "_Layout";
    var i = 0;
}

@section Styles
{
    <link rel="stylesheet" href="~/css/admin.css">
}

<div class="standard-text">
    <a asp-controller="Admin" asp-action="Index">← Back</a>
</div>

@foreach (var order in Model)
{
    if (i++ % 2 == 0)
    {
        <div class="row table-row dark-row">
            <div class="col table-data">
                @order.ToString()
            </div>
            <div class="col table-data">
                <form method="post">
                    <input type="hidden" name="id" value="@order.Id">
                    <select class="custom-select status-select" name="status" style="width: 400px; margin-right: 20px">
                        @if (order.Status == Status.NotPaid)
                        {
                            <option value="@Status.NotPaid" selected>@Status.NotPaid.ToString()</option>
                        }
                        else
                        {
                            <option value="@Status.NotPaid">@Status.NotPaid.ToString()</option>
                        }

                        @if (order.Status == Status.Paid)
                        {
                            <option value="@Status.Paid" selected>@Status.Paid.ToString()</option>
                        }
                        else
                        {
                            <option value="@Status.Paid">@Status.Paid.ToString()</option>
                        }

                        @if (order.Status == Status.Packing)
                        {
                            <option value="@Status.Packing" selected>@Status.Packing.ToString()</option>
                        }
                        else
                        {
                            <option value="@Status.Packing">@Status.Packing.ToString()</option>
                        }

                        @if (order.Status == Status.Delivering)
                        {
                            <option value="@Status.Delivering" selected>@Status.Delivering.ToString()</option>
                        }
                        else
                        {
                            <option value="@Status.Delivering">@Status.Delivering.ToString()</option>
                        }

                        @if (order.Status == Status.Delivered)
                        {
                            <option value="@Status.Delivered" selected>@Status.Delivered.ToString()</option>
                        }
                        else
                        {
                            <option value="@Status.Delivered">@Status.Delivered.ToString()</option>
                        }

                        @if (order.Status == Status.Cancelled)
                        {
                            <option value="@Status.Cancelled" selected>@Status.Cancelled.ToString()</option>
                        }
                        else
                        {
                            <option value="@Status.Cancelled">@Status.Cancelled.ToString()</option>
                        }
                    </select>
                    <button id="@order.Id" status="@order.Status" class="status-update btn btn-outline-light product-btn" style="display:none;">Update</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="row  table-row">
            <div class="col table-data">
                @order.ToString()
            </div>
            <div class="col table-data">
                <form method="post">
                    <input type="hidden" name="id" value="@order.Id">
                    <select class="custom-select status-select" name="status"  style="width: 400px; margin-right: 20px">
                        @if (order.Status == Status.NotPaid)
                        {
                            <option value="@Status.NotPaid" selected>@Status.NotPaid.ToString()</option>
                        }
                        else
                        {
                            <option value="@Status.NotPaid">@Status.NotPaid.ToString()</option>
                        }

                        @if (order.Status == Status.Paid)
                        {
                            <option value="@Status.Paid" selected>@Status.Paid.ToString()</option>
                        }
                        else
                        {
                            <option value="@Status.Paid">@Status.Paid.ToString()</option>
                        }

                        @if (order.Status == Status.Packing)
                        {
                            <option value="@Status.Packing" selected>@Status.Packing.ToString()</option>
                        }
                        else
                        {
                            <option value="@Status.Packing">@Status.Packing.ToString()</option>
                        }

                        @if (order.Status == Status.Delivering)
                        {
                            <option value="@Status.Delivering" selected>@Status.Delivering.ToString()</option>
                        }
                        else
                        {
                            <option value="@Status.Delivering">@Status.Delivering.ToString()</option>
                        }

                        @if (order.Status == Status.Delivered)
                        {
                            <option value="@Status.Delivered" selected>@Status.Delivered.ToString()</option>
                        }
                        else
                        {
                            <option value="@Status.Delivered">@Status.Delivered.ToString()</option>
                        }

                        @if (order.Status == Status.Cancelled)
                        {
                            <option value="@Status.Cancelled" selected>@Status.Cancelled.ToString()</option>
                        }
                        else
                        {
                            <option value="@Status.Cancelled">@Status.Cancelled.ToString()</option>
                        }
                    </select>
                    <button id="@order.Id" status="@order.Status" class="status-update btn btn-outline-light product-btn" style="display:none;">Update</button>
                </form>
            </div>
        </div>
    }
}

@section Scripts
{
    <script>
    window.onload = async function () {
        let selects = document.getElementsByClassName("status-select");
        let updates = document.getElementsByClassName("status-update");
        
        for (let i = 0; i < selects.length; i++) {
            selects[i].addEventListener("change", function () {
                updates[i].style.display = "inline-block";
            });
        }
        
        for (let i = 0; i < selects.length; i++) {
            updates[i].addEventListener("click", async function () {
                let id = updates[i].id;
                let status = updates[i].getAttribute("status");
                let response = await fetch("/Checkout/UpdateStatus?orderId=" + id + "&newStatus=" + status)
                updates[i].style.display = "none";
            });    
        }
    }
    </script>
}
